In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
data = pd.read_csv('CleanData.csv')
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Profit,Shipping Cost,Order Priority,Year,Month,Weekday,IsWeekend,Season,PromotionFlag,DiscountCategory
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,...,62.1544,40.77,High,2014,11,Tuesday,False,Fall,0,No Discount
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,Wollongong,New South Wales,...,-55.2150,57.21,Critical,2014,2,Wednesday,False,Winter,1,Low
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,Brisbane,Queensland,...,92.0250,57.21,Medium,2014,10,Friday,False,Fall,1,Low
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,Berlin,Berlin,...,-55.2150,57.21,Medium,2014,1,Tuesday,False,Winter,1,Low
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,Dakar,Dakar,...,92.0250,57.21,Critical,2014,11,Wednesday,False,Fall,0,No Discount

<h3 style="color:#70C1B3; font-weight:bold">Data encoding and normalization</h3>

In [3]:
'''data['Order Date'] = pd.to_datetime(data['Order Date'])

groupedData = data.groupby(['Order Date','Segment',
                              'Country', 'Sub-Category',
                                'PromotionFlag']).agg({
                                     'Sales': 'sum'
                                }).reset_index()

groupedData'''

"data['Order Date'] = pd.to_datetime(data['Order Date'])\n\ngroupedData = data.groupby(['Order Date','Segment',\n                              'Country', 'Sub-Category',\n                                'PromotionFlag']).agg({\n                                     'Sales': 'sum'\n                                }).reset_index()\n\ngroupedData"

In [4]:
#filtered = groupedData[(groupedData['Sales'] != 0)]
filtered = pd.read_csv('Grouped.csv')
filtered.drop(['Unnamed: 0'],inplace=True, axis=1)
filtered

,Order Date,Segment,Country,Product ID,PromotionFlag,Sales
0,2012-01-01,Consumer,Algeria,OFF-ST-6261,0,408.300
1,2012-01-01,Consumer,Australia,FUR-FU-4075,1,113.670
2,2012-01-01,Consumer,Australia,OFF-PA-3990,1,55.242
3,2012-01-01,Consumer,Australia,OFF-SU-3002,1,120.366
4,2012-01-01,Consumer,Hungary,OFF-ST-6230,0,66.120
...,...,...,...,...,...,...
51221,2015-12-31,Home Office,Nicaragua,OFF-ST-6024,0,15.000
51222,2015-12-31,Home Office,Spain,TEC-CO-4568,0,530.220
51223,2015-12-31,Home Office,Tanzania,OFF-LA-4542,0,49.500
51224,2015-12-31,Home Office,Trinidad and Tobago,OFF-AP-3858,0,135.480
51225,2015-12-31,Home Office,United States,OFF-AP-4222,0,209.300

In [5]:
prod_info = data[['Product ID', 'Sub-Category', 'Category']].drop_duplicates()

In [6]:
merged = filtered.merge(prod_info , on='Product ID',how='left')

merged

,Order Date,Segment,Country,Product ID,PromotionFlag,Sales,Sub-Category,Category
0,2012-01-01,Consumer,Algeria,OFF-ST-6261,0,408.300,Storage,Office Supplies
1,2012-01-01,Consumer,Australia,FUR-FU-4075,1,113.670,Furnishings,Furniture
2,2012-01-01,Consumer,Australia,OFF-PA-3990,1,55.242,Paper,Office Supplies
3,2012-01-01,Consumer,Australia,OFF-SU-3002,1,120.366,Supplies,Office Supplies
4,2012-01-01,Consumer,Hungary,OFF-ST-6230,0,66.120,Storage,Office Supplies
...,...,...,...,...,...,...,...,...
51221,2015-12-31,Home Office,Nicaragua,OFF-ST-6024,0,15.000,Storage,Office Supplies
51222,2015-12-31,Home Office,Spain,TEC-CO-4568,0,530.220,Copiers,Technology
51223,2015-12-31,Home Office,Tanzania,OFF-LA-4542,0,49.500,Labels,Office Supplies
51224,2015-12-31,Home Office,Trinidad and Tobago,OFF-AP-3858,0,135.480,Appliances,Office Supplies
51225,2015-12-31,Home Office,United States,OFF-AP-4222,0,209.300,Appliances,Office Supplies

In [7]:
merged['Order Date'] = pd.to_datetime(merged['Order Date'])

merged['Year'] = merged['Order Date'].dt.year
merged['Month'] = merged['Order Date'].dt.month
merged['Weekday'] = merged['Order Date'].dt.weekday
merged['IsWeekend'] = merged['Weekday'].isin([5, 6])

In [8]:
merged['Season'] = merged['Month'].apply(lambda x: 'Winter' if x in [12, 1, 2] else
                                           'Spring' if x in [3, 4, 5] else
                                           'Summer' if x in [6, 7, 8] else
                                           'Fall')

In [9]:
encoder = OneHotEncoder(sparse_output=False) # Use sparse_output instead of sparse

encoded = encoder.fit_transform(merged[['Segment', 'Sub-Category', 'Category', 'Season']])

encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Segment', 'Sub-Category', 'Category', 'Season']))

data_encoded = pd.concat([merged[['Order Date', 'Year', 'Month', 'Weekday', 'IsWeekend', 'Sales','Country', 'PromotionFlag', 'Product ID']], encoded_df], axis=1)

data_encoded

,Order Date,Year,Month,Weekday,IsWeekend,Sales,Country,PromotionFlag,Product ID,Segment_Consumer,...,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables,Category_Furniture,Category_Office Supplies,Category_Technology,Season_Fall,Season_Spring,Season_Summer,Season_Winter
0,2012-01-01,2012,1,6,True,408.300,Algeria,0,OFF-ST-6261,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,2012-01-01,2012,1,6,True,113.670,Australia,1,FUR-FU-4075,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2012-01-01,2012,1,6,True,55.242,Australia,1,OFF-PA-3990,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,2012-01-01,2012,1,6,True,120.366,Australia,1,OFF-SU-3002,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,2012-01-01,2012,1,6,True,66.120,Hungary,0,OFF-ST-6230,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,2015-12-31,2015,12,3,False,15.000,Nicaragua,0,OFF-ST-6024,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51222,2015-12-31,2015,12,3,False,530.220,Spain,0,TEC-CO-4568,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
51223,2015-12-31,2015,12,3,False,49.500,Tanzania,0,OFF-LA-4542,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51224,2015-12-31,2015,12,3,False,135.480,Trinidad and Tobago,0,OFF-AP-3858,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51225,2015-12-31,2015,12,3,False,209.300,United States,0,OFF-AP-4222,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [10]:
le = LabelEncoder()

data_encoded['Country'] = le.fit_transform(data_encoded['Country'])
data_encoded['Product ID'] = le.fit_transform(data_encoded['Product ID'])

data_encoded

,Order Date,Year,Month,Weekday,IsWeekend,Sales,Country,PromotionFlag,Product ID,Segment_Consumer,...,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables,Category_Furniture,Category_Office Supplies,Category_Technology,Season_Fall,Season_Spring,Season_Summer,Season_Winter
0,2012-01-01,2012,1,6,True,408.300,2,0,2732,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,2012-01-01,2012,1,6,True,113.670,6,1,513,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2012-01-01,2012,1,6,True,55.242,6,1,2151,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,2012-01-01,2012,1,6,True,120.366,6,1,2801,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,2012-01-01,2012,1,6,True,66.120,65,0,2722,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51221,2015-12-31,2015,12,3,False,15.000,105,0,2688,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51222,2015-12-31,2015,12,3,False,530.220,134,0,3230,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
51223,2015-12-31,2015,12,3,False,49.500,144,0,2035,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51224,2015-12-31,2015,12,3,False,135.480,148,0,903,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
51225,2015-12-31,2015,12,3,False,209.300,156,0,932,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [11]:
data_encoded.columns

Index(['Order Date', 'Year', 'Month', 'Weekday', 'IsWeekend', 'Sales',
       'Country', 'PromotionFlag', 'Product ID', 'Segment_Consumer',
       'Segment_Corporate', 'Segment_Home Office', 'Sub-Category_Accessories',
       'Sub-Category_Appliances', 'Sub-Category_Art', 'Sub-Category_Binders',
       'Sub-Category_Bookcases', 'Sub-Category_Chairs', 'Sub-Category_Copiers',
       'Sub-Category_Envelopes', 'Sub-Category_Fasteners',
       'Sub-Category_Furnishings', 'Sub-Category_Labels',
       'Sub-Category_Machines', 'Sub-Category_Paper', 'Sub-Category_Phones',
       'Sub-Category_Storage', 'Sub-Category_Supplies', 'Sub-Category_Tables',
       'Category_Furniture', 'Category_Office Supplies', 'Category_Technology',
       'Season_Fall', 'Season_Spring', 'Season_Summer', 'Season_Winter'],
      dtype='object')